*{
    margin: 0;
    padding: 0;
}
$custWidth:1140px;
$runningTitleHeight:100px;

header{
    text-align: center;
    margin: 20px auto;
}

ol{
    margin-left: 20px;
}
body{
    background-color: rgb(29, 30, 31) ;
    color: white;
    font-family: Courier;
    font-weight: 500;
    font-size: 20px;    
    line-height: 2rem;
}

.flex-header{
    display: flex;  
    justify-content: space-between;   
    text-align: center;
    margin: 50px 0;
}
.flex{
    display: flex;
}

.body-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: $custWidth;
    margin: 0 auto;
    padding: 0 20px;
}
.div-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
}
footer{
    display: flex;
    justify-content: center;
    margin: 25px auto;
    text-align: center;
    align-self: end;
}
 
output{
    color: black;
    background-color: white;
}
.custom-button{
    outline: none;
    box-shadow:0 0 20px rgb(226, 226, 226);
    border-radius: 3px;
    width: fit-content;
    align-self: center;
    color: black;
    background-color: white;
    padding: 20px;
    font-family: Courier;
    font-weight: 500;
    font-size: 20px;
    &:active{
        font-weight: 700;
        border: 2px solid black;        
    }
    &:disabled{
        box-shadow:none;
    }
}
ul{
    list-style-type:none;
}
.solution{
    margin-bottom: 20px;
    color:rgb(183, 236, 183);
}

 

td.cell{
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    border-collapse: collapse;
    border-spacing: 0;
}
table{
    border-spacing: 0;
}

.flex-container{
    overflow: auto;
    justify-content: space-between;
    display: flex;
}
.box{
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: left;       
}
.pos-abs{
    position: absolute;
    right: 0;
    top: 0;
}
.pos-rel{
    top:-50px;
    position: relative;
}
.text-right{
    text-align: right;
}
.fa-shopping-cart{
    position: relative;
}
.order-item{
display: flex;
background-color: rgb(183, 236, 183);
}
.noimg-tobasket{
    width: 50px;
    height: 50px;
}
.order-item-text{
  margin-bottom: 0; 
  font-size: small; 
  line-height: normal;
}
.reduce-product{
    line-height: initial;

}
#btn-find{
    padding: 0;
    box-shadow:none;
    width: fit-content;
    align-self: center;      
    height: 100%; 

}
.flex-right{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}
.mybasket{
    width: max-content;
    position: absolute;
    right: 0;

    height: max-content;
}
.right-block{
    text-align: right;
    width: max-content;
}